[developer]: /handbook/developer-onboarding
[onboard_buddy]: /handbook/general-onboarding/onboarding-buddies/#buddy-responsibilities
[mr_buddy]: /handbook/general-onboarding/mr-buddies/
[employee_dev]: /handbook/engineering/development/dev/create-editor-be/career-development#employee-development-career-plan

## Getting Started Developing for GitLab
Welcome to the [Create <%= group %>  Backend Engineering Team][team]! We are happy to have you here. We are looking forward to working with you on our team. The first place you want to start is with [Developer Onboarding][developer]. Both your [Onboarding Buddy][onboard_buddy] and [Merge Request Buddy][mr_buddy] are just a slack message away.

## Get to Know your Team
Schedule a Coffee Chat with each team member within the first month of employment. Use this as an opportunity to get to know your team member and ask them any questions you have.

## Employee Development
During your second week, begin working on your [Career Development Plan][employee_dev]. You will start learning new things as soon as you start working at GitLab, and we will begin managing and tracking your development early.


