Since we share a backend team between the Plan:Portfolio Management and Certify
groups, we have a [combined metrics dashboard][dashboard]. This is intended to
track against some of the [Development Department KPIs][kpis], particularly
those around merge request creation and acceptance. From that dashboard, the
following charts show [Average Mrs/Development Engineers/Month] and
[Mean time to merge (MTTM)] respectively.

<embed width="49.7%" height="300" src="<%= signed_periscope_url(dashboard: 536601, chart: 6954703, embed: 'v2', filters: [{ name: 'backend_plan_pm_certify_team', value: [3717078, 426128, 1642716, 508743] }]) %>"><embed width="49.7%" height="300" src="<%= signed_periscope_url(dashboard: 536601, chart: 7129320, embed: 'v2', filters: [{ name: 'backend_plan_pm_certify_team', value: [3717078, 426128, 1642716, 508743] }]) %>">


The following chart shows a breakdown of MRs by category (omitting Security, for
now). Totals may vary slightly from overall throughput as some MRs may have more
than one throughput label.
<embed width="100%" height="300" src="<%= signed_periscope_url(dashboard: 536601, chart: 6954706, embed: 'v2', filters: [{ name: 'backend_plan_pm_certify_team', value: [3717078, 426128, 1642716, 508743] }]) %>">

[dashboard]: https://app.periscopedata.com/app/gitlab/536601/Backend-Plan:Portfolio-Management-&-Certify-Development-Metrics
[kpis]: /handbook/business-ops/data-team/metrics/#development-department-kpis
[Average Mrs/Development Engineers/Month]: https://about.gitlab.com/handbook/engineering/development/performance-indicators/#average-mrs-development-engineers-month
[Mean time to merge (MTTM)]: https://about.gitlab.com/handbook/engineering/development/performance-indicators/#mean-time-to-merge-mttm
